<!-- welcome page -->
<div class="bg-secondary row align-items-center" id="dashArea">
    <div class="container text-center">
        <div class="bg-light" id="welcome-message">
            <h1 class="display-4 font-weight-bold mb-5">Congratulation {{user.firstname}}!</h1>
            <br>
            <h4>You have successfully booked {{room.title}}, from {{info.checkInDate}} to {{info.checkOutDate}}</h4>
            <br>
            <h4 class="mb-0">Thank for choosing Tony's AirBnB. We have sent an email to your registered email address, please check it!</h5>
        </div>
    </div>
</div>