<!-- information -->
    <div class="bg-light information-area">
        <div class="container">
        </div>
        <h4 class="text-center display-4 mb-5">AirBnB - Your most memorable choice</h1>
        <div class="row justify-content-center mt-5">
            <div class="dummy col-lg-1"></div>
            <div class="textwrapper col-lg-4">
                <h5 class="mt-5">Wide Selection</h5>
                <h5 class="mb-5 font-weight-light">Airbnb hosts list many different kinds of properties—single rooms, a suite of rooms, apartments, moored yachts, houseboats, entire houses, even a castle—on the Airbnb website.</h5>
                <h5>Hosts Can Set Their Own Price</h5>
                <h5 class="mb-5 font-weight-light">It’s up to each host to decide how much to charge per night, per week, or per month.</h5>
                <h5>Customizable Searches</h5>
                <h5 class="font-weight-light">Guests can search the Airbnb database—not only by date and location, but by price, type of property, amenities, and the language of the host. They can also add keywords (such as “close to the Louvre”) to further narrow their search.</h5>
            </div>
            <div class="dummy col-lg-1"></div>
            <!-- video -->
            <div class="col-lg-5 align-self-center video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SVwXTQTuXLg" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dummy col-lg-1"></div>
        </div>
    </div>