<!-- member dashboard -->
<div class="bg-secondary row align-items-center" id="dashArea">
    <div class="container text-center">
        <div class="bg-light" id="welcome-message">
            <h1 class="display-4 font-weight-bold mb-5">Hello! {{user.firstname}}</h1>
            <br>
            <h4 class="mb-0">This is your dashboard! The session will be expired in 5 minutes.</h4>
            <br>
            <h4 class="mb-0">Also, you can <a href="/logout">Log Out</a> here</h4>
        </div>
    </div>
</div>