<div class="container">
        <form action="/register-user" method="POST" id="regist-form">
            <div class="form-group">                
                
                    <input type="Email" class="form-control" id="email" name="email" autocomplete="email" placeholder="Email Address" tabindex="1"  autofocus>
                
            </div>
            <div class="form-group">                
                
                    
                    <input type="text" class="form-control" id="firstName" name="firstName" autocomplete="given-name" placeholder="First Name" tabindex="2" >
                
            </div>
            <div class="form-group">
                
                    <input type="text" class="form-control" id="lastName" name="lastName" autocomplete="family-name"  placeholder="Last Name" tabindex="3" >
                
                
            </div>
            <div class="form-group">
                
                    <input type="password" class="form-control" id="createPassword" name="createPassword" autocomplete="new-password" placeholder="Create a Password" aria-describedby="passwordHelp" tabindex="4" >
                    <small class="form-text text-muted" id="passwordHelp">Use 8 or more characters (a combination of letters, numbers, and symbols), at least ONE CAPITAL LETTER</small>
                
                
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" autocomplete="new-password" placeholder="Confirm Your Input" tabindex="5" >
                <div class="invalid-feedback">Please match your password input.</div>
            </div>

            <h5>Birthday</h5>
            <p>To sign up, you need to be at least 18. Other people who use Airbnb won't see your birthday.</p>

            <div class="form-row">
                <div class="form-group col-md-4">
                   
                        <select class="custom-select" id="month" name="month" tabindex="6" >
                            <option selected>Month</option>
                            <option value="1">Janurary</option>
                            <option value="2">Feburary</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">Augest</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                   
              </div>
              
              <div class="form-group col-md-4">
                  
                    <select class="custom-select" id="day" name="day" tabindex="7" >
                        <option selected>Day</option>                
                    </select>
                  
              </div>

              <div class="form-group col-md-4">
                
                    <select class="custom-select" id="year" name="year" tabindex="8">
                        <option selected>Year</option>
                    </select>
                
              </div>              
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value=1 id="subscribeCheck" name="subscribeCheck" checked tabindex="9">
              <label class="form-check-label" for="subscribeCheck">
                Subscribe to our promotional information and special offers.
              </label>
            </div>

            <div class="form-group mt-3">
              <input type="submit" class="btn btn-primary btn-block" value="Submit" tabindex="10">
              <input type="reset" class="btn btn-secondary btn-block" value="Reset">
            </div>
        </form>

        <!-- divider -->
        <div class="row" id="regist-divider">
          <div class="col"><hr></div>
          <div class="col-auto">Or Sign With</div>
          <div class="col"><hr></div>
        </div>

        <div class="row justify-content-center icon-group" id="sign-in-icon">
          <span class="fa fa-facebook"></span>
          <span class="fa fa-twitter" id="twitter"></span>
          <span class="fa fa-instagram"></span>
        </div>
    </div>