<!-- form -->
    <div class="form-area">
        <div class="container form-container">
            <div class="row justify-content-center">
                <form action="/destination" method="POST" class="bg-white col-lg-4" id="searchForm">
                    <h4 class="text-center">Book unique place to stay and things to do!</h4>
                    <p class="text-left mt-5">Choose the destination you wish to explore and check out which places to stay in your favorite destination!</p>
                    <div class="form-group mt-3">
                        <label for="destination">Destination</label>
                        <select type="text" class="form-control" id="destination" name="destination" placeholder="Anywhere">
                            <option sellected>Tourist Attractions</option>
                            <option value="falls">Niagara Falls, ON</option>
                            <option value="vancouver">Whistler, BC</option>
                            <option value="banff">Banff National Park, AB</option>
                            <option value="otawwa">Parliament Hill, ON</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Search">
                    </div>
                </form>
                <div class="text-wrapper col-md-6 align-self-center">
                    <h1 class="text-white">Never let your memories greater than your dreams</h1>
                    <h4 class="text-white" id="quote-author">Douglas Ivester</h4>
                </div>
            </div>
        </div>
    </div>